@import "default.scss";
@import "modifier.scss";

$primary : #7289da;
$secondary : #FFFFFF;
$tertiary : #F8F9FD;
$quaternary : #E8E8E8;

$info : #43B581;
h1{
    font-size: 33px;
    margin:0;
    padding:0;
}

.home{
    background-color:$tertiary;  
    // background-image: url("manhattan.jpg");
}

.table-container{
    background-color: $secondary;
}



.button {
	display: inline-block;
}

.button--primary{
    background-color:$primary;  
}

.btn{
    transition: background-color 0.3s ease;
}

.bg-dark{
    background-color:#26262B !important;
}

.button--info{
    // background-color:#00b2a9; 
    // color:$secondary;
    border:1px solid #26262B;
    

}



.button--info:hover{
    background-color: #26262B;
    color:$secondary;

}


.button--warning{
    background-color:#FFDE56; 
    color:#000000;

}

.button--warning:hover{
    background-color:#EAC52F; 
    color:#000000;
}

.add-icon{
    font-size: 90px;
}

.bg-warning{
    background-color:#FFDE56 !important; 
}

.bg-secondary{
    background-color: #F5F7F9 !important;
}

.add-modal{
    .modal-header{
        background-color: #FFD500;
    }
}

.caution{
    left:0 !important;
}

.btn-primary{
    background-color: #FFFFFF !important;
    border : 1px solid #7289da !important;
    color: #7289da !important;
    border:none;
}

.btn-primary:hover{
    background-color: #7289da !important;
    color: #FFFFFF !important
    
}

.btn-primary:focus{
    box-shadow: none !important;
    outline:none !important;

}


.modal-body{
    position: relative;
    overflow: hidden;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #FFFFFF;
        z-index: 2;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 0.5s;
        border: 1px solid #F5F7F9;
        cursor: pointer;
    }
    .add-form{

        .form-control{
            background-color: #F5F7F9;
        }
        .form-control:focus{
            background-color: #F5F7F9;
            border:1px solid #000000;
        }
        

    }
}

.add-validation{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color:#43B581;
    display: none;
}

.show-validation{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color:#43B581;
    display: none;
}



